h1{
    color:greenyellow;
}

body{
    background-image: url("Father.jpg");
}

#title {
    border: 2px #000000;
    background-color: #444444;
    text-align:center;
    opacity: 0.8;
    width:70%;
}

marquee {
    width:50%;
    text-align:center;
}