h1{
    color:greenyellow;
}

body{
    background-image: url("Father.jpg");
}

#Title {
    border: 2px #000000;
    background-color: #444444;
    opacity:0.5;
    display:inline-block;
    
}

marquee {
    width:50%;
}